#introyala{
    background-image: linear-gradient(rgba(30, 30, 30, 0.9), rgba(0, 0, 0, 0.218)),
        url(img/yalaintro.jpg);
    background-repeat: no-repeat;
    height: 450px;
    background-size: cover;
    padding-top: 150px;
    margin-top: 10px;
    background-attachment: fixed
}
#introyala h1{
    font-size: 40px;
    justify-content: center;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 15px;
    line-height: 1.5em;
    margin: 30px;
    animation-name: slideup;
    animation-duration: 2s;
}    
#yalainf{
    align-items: center;
    justify-content: center;

}
#yalainf h2{
    font-size: 40px;
    margin: 25px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(39, 130, 20);
}
.yalainf{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    gap: 20px;

}
.yalainf img{
    width: 550px;
    height: 300px;
    border-radius: 30px;

}
.yalainf p{
    line-height: 1.5;
    font-size: 20px;
    text-align: center;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    
}
.button3{
    padding: 10px 20px; 
    font-size: 25px;
    background-color: rgb(234, 81, 47);
    color: #ede5e5; 
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    text-align: center;
    border-radius: 20px;
    
    transition: background-color 0.5s ease;
    &:hover {
        background-color: #eceae2;
    }
}
.button3 a{
    color: white;
    text-decoration: none;
}
.btn2{
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin: 20px;
    padding-left: 120px;
    display: flex;

    
}
#yalainf p{
    line-height: 1.5;
    font-size: 20px;
    text-align: center;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    margin: 50px;
}
#safari{
    background-color: rgb(234, 202, 161);
    padding: 10px;
}
#safari h2{
    padding: 20px;
    color: #6e0a0a;
    text-align: center;
    font-size: 40px;
    margin: 20px;
}
#safari h3{
    font-size: 20px;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    padding: 10px;
    font-weight: normal;
    margin: 20px;


}
#safari p{
    font-size: 20px;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    line-height: 1.5;
    margin: 20px;

}
.mappic6{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 20px;
}
.mappic6 img{
    width: 420px;
    height: 350px;
    border-radius: 15px;
    border: 2px solid black;
    padding: 1px;
    transition: ease 0.5s;
}
.mappic6 img:hover{
    transform: scale(1.04);
}
@media screen and (max-width:1024px ){
    .yalainf{
        flex-direction: column;
    }
    .yalainf img{
        width: 300px;
        height: 300px;
    }
    .mappic6{
        flex-direction: column;
    }
    .mappic6 img{
        width: 300px;
        height: 250px;
    }
}